#hue-bar {
  background: linear-gradient(to bottom, #f00 0%, #ff0 17%, #0f0 33%, #0ff 50%, #00f 66%, #f0f 83%, #f00 100%);
}

#hue-selector {
  position: relative;
  width: 100%;
  border: 2px solid white;
  height: 1.5%;
  cursor: pointer;
}
